.imagecir{
  border-radius:200%;
}

#header_cv{
  background-color: #d9ecf2;
  color:black;
  border-bottom: 5px solid #0f3057 ;
}

h2{
  font-family: 'bold 700', serif;
  text-shadow: 2px 2px;
  color:#0f3057;
  font-size: 200%;
}
body {
  font-family: 'Semi-bold 600', sans-serif;
  border-style: outset;
  background-color:#d9ecf2;
  color: black;
  font-size: 110%;
}
#footer_cv{border-bottom: 6px solid #0f3057;}
